body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

nav {
  text-align: center;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}

figcaption {
  font-size: 10px;
  text-align: center;
}

#featured-property p {
  text-align: center;
  width: 800px;
  margin: auto;
}

#details div {
  display: block;
  text-align: center;
  float: left;
  background-color: red;
  width: 25%;

}
